/* ---------------------------
  [1] 記事フッターの著者名・日時の削除
  [2] 記事内の中見出し(h2,h3)の装飾
  [3] フォント設定
  [4] タイトル・見出しの余分な装飾削除
  [5] BIO装飾
  [6] ソーシャルボタン
  [7] figure左右マージン0
  [8] 目次とリストの左右マージン半減とリストデザイン
   --------------------------- */

/* **************************
  [1] 記事フッターの著者名・日時の削除
************************** */
.entry-footer-section {
  display:none;
}

/* **************************
  [2] 記事内の中見出し(h2,h3)の装飾
************************** */
.entry-content h2 {
  padding: 8px 0 8px 12px;
  border-left: 4px solid #161410;
  background-color: #f0f0f0;
  margin: 56px 0 40px 0;
  line-height: 1.5;
  font-size: 2.0rem;
  color: #000c15;
}
.entry-content h3 {
  padding: 6px 0;
  border-bottom: 2px solid #161410;
  margin: 48px 0 32px 0;
  line-height: 1.5;
  font-size: 2.0rem;
  color: #000c15;
}

/* **************************
  [3] フォント設定
************************** */
body {
  font-family: -apple-system, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
  color: #303030;
}

/* **************************
  [4] タイトル・見出しの余分な装飾削除
************************** */
.entry-title::before {
  width: 0px;
}
.entry-content h2::before {
  width: 0px;
}
.header-description::before {
  width: 0px;
}

/* **************************
  [5] BIO装飾
************************** */
/*<div class="p-author">
  <div class="p-author__avatar-btn">
  <div class="p-author__avatar c-avatar">
    <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/m/mbaasdevrel/20171117/20171117110421.jpg">
  </div>
    </div>
  <div class="p-author__body">
    <p class="c-txt-bold">中津川篤司</p>
    <p class="c-txt-basic p-author__info">
      プログラマ、エンジニアとしていくつかの企業で働き、28歳のときに独立。2004年、まだ情報が少なかったオープンソースソフトの技術ブログ『MOONGIFT』を開設し、毎日情報を発信している。2013年に法人化、ビジネスとエンジニアを結ぶエバンジェリスト業「DevRel」活動をスタートした。
    </p>
  </div>
</div>*/

.c-avatar {
 
  width: 120px;
  height: 120px;
  overflow: hidden;
  img {
  border-radius: 60px;
  height: 120px;
  width: 120px;
	}
}

.c-txt-bold {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
}
.c-txt-basic {
  font-size: 1.3rem;
  margin: 0;
}

.p-author{
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top:1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  margin-top: 20px;
}

.p-author__avatar-btn{
  display: flex;
  flex-direction:column;
  margin-right: 20px;
  align-items: center;
}

.p-author__avatar{
  margin: 0 1rem 1rem;
}
.p-author__info{
  margin: 1rem 0;
}

/* **************************
  [6] ソーシャルボタン
************************** */

.sns-header, .sns-footer {
    padding: 0 24px;
}

.sns-area {
    margin: 30px auto 10px;
    padding: 0;
    overflow: hidden;
    table-layout: fixed;
    display: table;
    width: 100%;
}

.sns-area li {
    list-style-type: none;
    display: table-cell;
    vertical-align: middle;
}

.sns-area li:last-child {
    margin-right: 0
}

.sns-link {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    height: 42px;
    line-height: 42px;
}

.sns-link::after {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background-color: rgba(255,255,255,.3);
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

.sns-link:hover {
    text-decoration: none;
	
}

.sns-link:hover::after {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}

@-webkit-keyframes circle {
	50% {
		opacity: 1;
	}
	100% {
		width: 300px;
		height: 300px;
	}
}
@keyframes circle {
	50% {
		opacity: 1;
	}
	100% {
		width: 300px;
		height: 300px;
	}
}

.sns-twitter {
    background: #55acee;
}

.sns-facebook {
    background: #3a5795;
}

.sns-bookmark {
    background: #00A5DE;
}

.sns-pocket {
    background: #ED4055;
}

.blogicon-twitter,
.blogicon-facebook,
.blogicon-bookmark,
.blogicon-chevron-down {
    margin-right: 5px;
    color: #fff;
}

.fa {
    color: #fff;
}

.hatebu-count,
.facebook-count {
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .sns-txt {
       display: none;
       color: #fff;
    }
   .blogicon-twitter,
   .blogicon-facebook,
   .blogicon-bookmark,
   .blogicon-chevron-down {
       margin-right: 0;
       color: #fff;
   }
}

/* **************************
  [7] figure左右マージン0/間延びなし
************************** */
figure {
  margin-right: 0;
  margin-left: 0;
}
.entry-content img {
    width: auto;
    height: auto;
}

/* **************************
  [8] 目次とリストの左右マージン半減とリストデザイン
************************** */
.entry-content .table-of-contents {
    padding: 1em 2em;
}

.entry-content li {
    margin-bottom: 8px;
    font-weight: bold;
}
.entry-content ul {
    margin: 0px 0px 40px 24px;
    color: #333;
}
